*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: .4s;
}

#header{
    background: #E5E5E5;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    animation: header 2s alternate;
}

@keyframes header {
    0%{
        transform: translateY(-500px);
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: start;
}

.header img{
    padding-right: 85px;
}

.header-text a{
    padding-right: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.header-button{
    margin-left: 300px;
}

.header button{
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #161320;
    margin-left: 50px;

    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    color: #FFFFFF;
    width: 180px;
    height: 60px;
    background: #FF4343;
}



/*HERO*/

#hero{
    background: #100e14;
}

.hero h1{
    font-weight: 400;
    font-size: 63px;
    text-align: center;
    color: #FFFFFF;
    padding: 96px 0 44px 0;
    animation: text-one 3s alternate;
}

@keyframes text-one {
    0%{
        transform: translateX(-1200px);
        color: red;
    }
}

.hero p{
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    animation: text-two 3s alternate;
}

@keyframes text-two {
    0%{
        transform: translateX(1200px);
    }
}

.hero button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    font-size: 23px;
    color: #FFFFFF;
    width: 281px;
    height: 66px;
    background: #FF4343;
    border-radius: 8px;
    margin: 88px 0 43px 0;
    animation: hero-btn 3s alternate;
}

@keyframes hero-btn {
    0%{
        transform: scale(0) rotate(360deg);
    }
}


.hero img{
    margin-bottom: 30px;
}

.hero h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 61px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .hero2{
    position: absolute;
    margin: 527px 0 0 41px;
    width: 294px;
    height: 570px;
    left: 896px;
}

/*SHOOT*/

#shoot{
    background: #121118;
}

.shoot h1{
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 210px 0 38px 0;
}

.shoot p{
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 300px;
}

.shoot img{
    position: absolute;
    width: 373px;
    height: 519px;
    margin: 190px 0 0 578px;
}


.shoot{
    display: flex;
    justify-content: start;
    /*background-image: url("img/shoot.png");*/
        /*position: absolute;*/
    }

.shoot-img img{
    position: absolute;
    width: 341px;
    height: 662px;
    margin: 110px 0 0 250px;
    animation: shoot-img 3s alternate;
}

@keyframes shoot-img {
    0%{
        transform: translateX(1200px);
    }
}

/*LEMON*/

#lemon{
    background: #121118;
}

.lemon img{
    padding: 90px 0 90px 0;
}

.lemon-text img{
    position: absolute;
    top: 0;
    left: 35px;
    /*animation: lemon-img 3s alternate;*/
}

@keyframes lemon-img {
    0%{
        transform: translateY(-500px);
    }
}

.lemon-text h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-bottom: 38px;
}

.lemon-text p{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
}

.lemon-text p span{
    color: #FFFFFF;
}

.lemon-btn:hover{
    transform: scale(1.1);
}

.lemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

/*ELEMENT*/

#element{
    background: #121118;
}

.element-text h1{
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 3px;
    color: #FFFFFF;
    padding-top: 208px;
}

.element-text p{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    padding: 38px 0 188px 0;
}

.element-text p span{
    color: #FFFFFF;
    font-weight: 700;
}

.element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.box-el {
    width: 571px;
    height: 367px;
    background-color: #202029;
    border-radius: 50px;
}

.box1{
    height: 100px;
    width: 430px;
    background-color: #121118;
    color: #E5E5E5;
    position: absolute;
    top: 250px;
    right: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    -webkit-box-shadow: 1px 4px 39px 12px rgba(217, 156, 156, 0.2);
    -moz-box-shadow: 1px 4px 39px 12px rgba(217, 156, 156, 0.2);
    box-shadow: 1px 4px 39px 12px rgba(217, 156, 156, 0.2);
    animation: box-1 3s alternate;
}

@keyframes box-1 {
    0%{
        transform: translateY(-300px);
    }
}

.element-abs button{
    top: 290px;
    right: 230px;
    background: red;
    width: 40px;
    height: 25px;
    border-radius: 40px;
}

.box-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: #303038;
    border-radius: 30px;
    color: #FFFFFF;
}

.box2{
    height: 100px;
    width: 430px;
    background-color: #121118;
    color: #E5E5E5;
    position: absolute;
    top: 350px;
    right: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 20px;
    -webkit-box-shadow: 1px 4px 39px 12px rgba(217, 156, 156, 0.2);
    -moz-box-shadow: 1px 4px 39px 12px rgba(217, 156, 156, 0.2);
    box-shadow: 1px 4px 39px 12px rgba(217, 156, 156, 0.2);
    animation: box-2 3s alternate;
}

@keyframes box-2 {
    0%{
        transform: translateY(300px);
    }
}

.element-box a{
    color: white;
    font-size: 20px;
}

.element-box h4{
    color: #87878a;
    padding-top: 10px;
}

.element-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*LINK*/

#link{
    background: #121118;
    padding: 120px 0;
}

.link-text h1{
    padding-bottom: 38px;
    width: 445px;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #FFFFFF;
}

.link-text p{
    width: 500px;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
}

.link-text p span{
    color: #FFFFFF;
    font-weight: 700;
}

.link-block{
    height: 350px;
    width: 562px;
    background: #1d1c27;
    border-radius: 30px;
    display: flex;
    align-items: end;
    position: relative;
}

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-block div {
    width: 70px;
    height: 260px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: .5s;
}

.link-block div:hover{
    transform: translateY(-50px);
    border-radius: 20px;
    z-index: 2;
    -webkit-box-shadow: 4px 4px 16px 11px rgba(232, 223, 223, 0.2);
    -moz-box-shadow: 4px 4px 16px 11px rgba(232, 223, 223, 0.2);
    box-shadow: 4px 4px 16px 11px rgba(232, 223, 223, 0.2);
}

.link-block div ion-icon{
    color: #FFFFFF;
    font-size: 20px;
}

.youtube{
    background: #d80513;
    right: 420px;
    border-radius: 20px 0 0 0;
}

.instagram{
    background: #c90442;
    right: 360px;
    border-radius: 20px 0 0 0;
}

.twitch{
    background: #733bd8;
    right: 300px;
    border-radius: 20px 0 0 0;
}

.tiktok{
    background: #020202;
    right: 240px;
    border-radius: 20px 0 0 0;
}

.twitter{
    background: #068ad4;
    right: 180px;
    border-radius: 20px 0 0 0;
}

.linkedin{
    background: #065680;
    right: 120px;
    border-radius: 20px 0 0 0;
}

.email{
    background: #22444f;
    right: 60px;
    border-radius: 20px 0 0 0;
}

.whatsapp{
    background: #39aa50;
    right: 0;
    border-radius: 20px 0 30px 0;
}


/*COACH*/

#the{
    background: #121118;
    padding: 100px 0;
}


.the h1{
    width: 510px;
    font-weight: 400;
    font-size: 61px;
    line-height: 83px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.the-line{
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 38px auto 34px auto;
}

.the p{
    width: 617px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.the-block-text h2{
    width: 223px;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

}

.the-block-text h4{
    width: 174px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 0 1px 0;
}

.the-block-text h5{
    width: 97px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
    padding-bottom: 50px;
}

.the-block-text{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 251px;
    height: 452px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.25%, #000000 100%);
}

.the-block{
    position: relative;
    width: 251px;
    height: 452px;
    transition: .4s;
}

.the-block-img{
    position: absolute;
    z-index: 3;
    transition: .4s;
}

.the-block:hover > .the-block-img{
    z-index: 1;
    -webkit-box-shadow: 1px 1px 13px 22px rgba(237, 240, 243, 0.2);
    -moz-box-shadow: 1px 1px 13px 22px rgba(237, 240, 243, 0.2);
    box-shadow: 1px 1px 13px 22px rgba(237, 240, 243, 0.2);
}

.the-general{
    padding-top: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*OFFER*/

#offer{
    background: #121118;
    padding: 100px 0;
}

.offer h3{
    width: 221px;
    font-weight: 400;
    font-size: 22px;
    /*text-align: center;*/
    color: #8BFFB0;
}

.offer h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 83px;
    text-align: center;
    color: #FFFFFF;
    padding: 21px 0 32px 0;
}

.offer p{
    font-weight: 400;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 32px 0 70px 0;
}

.offer img{
    height: 834px;
    width: 940px;
    padding-bottom: 60px;
    animation: offer 2s infinite linear;
}

@keyframes offer {
    0%{
        opacity: 0;
    }
}

.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*TEACH*/

#teach{
    background: #121118;
    padding: 70px 0 0 0;
}

.teach h1{
    width: 619px;
    font-weight: 400;
    font-size: 63px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 66px 0 32px 0;
}

.teach p{
    width: 730px;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    padding-bottom: 71px;
}

.teach button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    width: 281px;
    height: 66px;
    background: #FF4343;
    margin: 0 auto;
}

.teach{
    background: #1d1b24;
    width: 1120px;
    height: 433px;
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
}



/*CAN*/

#can{
    background: url("../img/tech.png") no-repeat center/cover;
    height: 60vh;

}

.can h1{
    width: 701px;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    /*padding: 141px 0 14px 0;*/
}

.can p{
    padding-top: 14px;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);

}

.can{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60vh;
}

.can-block{
    background: linear-gradient(180deg, #1D1B24 0%, rgba(0, 0, 0, 0) 100%);
}


/*FEAT*/

#feat{
    background: #121118;
    padding: 200px 0 200px 0;
}

.feat{
    position: relative;
}

.feat-feat{
    display: flex;
    justify-content: space-between;
}

.feat h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #FFFFFF;
    padding-bottom: 109px;
}

.feat-block{
    display: flex;
}

.img-block-nav h3{
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
}

.img-block-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    left: 20px;
}

.img-block-nav2{
    position: absolute;
    bottom: 25px;
    right: 479px;
}


.img-block-nav2 h3{
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
}

.img-block-2{
    display: flex;
    margin-top: 18px;
}

.img-block-2 ion-icon{
    padding-right: 8px;
}



.img-block-2 ion-icon{
    width: 35px;
    height: 23px;
    color: #FFFFFF;
}

.img-block-nav h6{
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.img-block-nav2 h6{
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.feat-text-block{
    padding-top: 30px;
    padding-left: 30px;
    height: 405px;
    width: 369px;
    background: #8be9a9;
    margin-top: 14px;
    position: relative;
}

.feat-text-block span{
    /*margin: 30px 0 17px 0;*/
    padding: 30px 0 17px 0;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #95FEC1;
}

.feat-text-block h2{
    width: 209px;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 17px 0 23px 0;
}

.feat-text-block p{
    width: 302px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

}

.text-block-nav a{
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}

.text-block-nav ion-icon{
    height: 35px;
    width: 42px;
    color: #FFFFFF;
    padding-left: 24px;
}

.text-block-nav{
    display: flex;
    justify-content: end;
    align-items: start;
    position: absolute;
    bottom: 30px;
    right: 31px;
}

/*FOOTER*/

#footer{
    background: #121118;
    padding: 120px 0;
}

.footer-text h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-text a{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}



.footer{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
